.header{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.title{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    color: silver;
    font-weight: 900;
}
.title h2{
    color: grey;
    font-weight: 600;
    font-size: small;
}