.ItemListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding: 0;
    margin: 1em auto 1em auto;
    padding: 1em;
    background: linear-gradient(180deg, #bbb 0%, #aaa 47%, #555 100%);
}