.ItemListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    padding: 0;
    text-align: center;
    width: 90%;
    height: 50vh;
    margin: 2em auto auto auto;
    background-color: beige;
}